body {
    background-color: #0d0d0d;
    color: #0ff;
    font-family: 'Orbitron', sans-serif;
    text-align: left; /* Alinhar o texto à esquerda */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinhar ao topo */
    align-items: flex-start; /* Alinhar à esquerda */
    height: 100vh;
    margin: 0;
    padding: 0; /* Remover padding para ocupar toda a tela */
}

.content {
    display: none;
    text-align: left; /* Alinhar o texto à esquerda */
    margin: 20px; /* Adicionar margem para afastar do centro */
    color: #0ff; /* Cor do texto */
    text-shadow: 0 0 10px #0ff; /* Efeito neon no texto */
}

.active {
    display: block;
}

header {
    width: 100%; /* Ocupa toda a largura */
    background-color: #0d0d0d; /* Cor de fundo do header */
    box-shadow: 0 0 20px #0ff; /* Efeito neon no header */
}

.navbar {
    display: flex;
    justify-content: center; /* Centralizar os botões */
    padding: 10px 20px; /* Espaçamento interno da navbar */
    width: 100%; /* Ocupa toda a largura */
}

.navbar button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.2); /* Cor de fundo dos botões */
    color: #0ff; /* Cor do texto dos botões */
    border: 2px solid #0ff; /* Borda dos botões */
    text-shadow: 0 0 10px #0ff; /* Efeito neon no texto dos botões */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar button:hover {
    background-color: #0ff; /* Cor de fundo dos botões ao passar o mouse */
    color: #0d0d0d; /* Cor do texto dos botões ao passar o mouse */
    box-shadow: 0 0 20px #0ff; /* Efeito neon ao passar o mouse */
}

h2 {
    text-shadow: 0 0 20px #0ff; /* Efeito neon nos títulos */
}

p {
    text-shadow: 0 0 10px #0ff; /* Efeito neon nos parágrafos */
}